/* Estilo geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to top, #0a0a0a, #02250e, #075c25);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
}

.banner {

} */
